<h1>Downloading torrent data via HTTP</h1>
<p>This guide will show you how to set up a page providing all your torrent data for download through your browser. You'll need to execute some commands via SSH to use this software. There is a separate guide on how to <a href="../ssh">connect to your slot via SSH</a>. Commands are kept as simple as possible and in most cases will simply need to be copied and pasted into the terminal window (then executed by pressing the <kbd>Enter</kbd> key).</p>

<details id="toc" open>
    <summary>Table of contents</summary>
    <nav>
        <ol>
            <li><a href="#setting-up">Setting up</a></li>
    		<li><a href="#accessing-links">Accesing your links</a></li>
        </ol>
    </nav>
</details> 

<h2 id="setting-up">Setting up</h2>
<p>The tool used by this guide is symbolic linking. This allows you to link to another file or directory elsewhere on the file system without doubling up on disk space used.</p>
<p>First of all, let's create a directory named <samp>links</samp> to hold the torrent data links in. Do this by copying and pasting the following:</p>
<p><kbd>mkdir -p ~/www/$(whoami).$(hostname -f)/public_html/links</kbd></p>
<p>Now, you can simply create the symbolic links for your torrent client(s) of choice by copying and pasting the commands below:</p>
<p>For rTorrent/ruTorrent, it's:</p>
<p><kbd>ln -s ~/private/rtorrent/data/ ~/www/$(whoami).$(hostname -f)/public_html/links/rtorrent_data</kbd></p>
<p>For Deluge, simply copy and paste:</p>
<p><kbd>ln -s ~/private/deluge/data/ ~/www/$(whoami).$(hostname -f)/public_html/links/deluge_data</kbd></p>
<p>For Transmission, it's:</p>
<p><kbd>ln -s ~/private/transmission/data/ ~/www/$(whoami).$(hostname -f)/public_html/links/transmission_data</kbd></p>
<p>Please note that if you create a broken link (i.e. if you haven't installed the torrent client), the links will result in a 404 error.</p>

<h2 id="accessing-links">Accessing your links</h2>
<p>You can access the newly-created links through your browser. Replace <var>server</var> with your server name (e.g. <samp>argus</samp>) and <var>username</var> with your username in the URL below:</p>
<p><samp>https://<var>server</var>.feralhosting.com/<var>username</var>/links/</samp></p>

<h2>Password protecting your links</h2>
<p>You may wish to <a href="password-protect">password protect</a> the links directory created below, or you'll be publicly visible.</p>